#n-body-container {
  position: relative;
  width: 100%;
  height: 500px;
}

#n-body-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#n-body-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}
